.homepage-gameboard {
  position: relative;
  left: 27.5vw;
  top: -95vh;
  height: 0;
  display: block;
}

.gameboard-canvas {
  background-color: #C9E0F1;
  z-index: 1;
  position: absolute;
  top: 0;
  display: block;
}

.action-canvas {
  background-color: transparent;
  z-index: 2;
  position: absolute;
  top: 0;
}