@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'),
    local('Roboto-Regular'),
    url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

#mute_button {
  width: 3em;

  cursor: pointer;

  border-radius: 8px;
  background: white;
  position: fixed;
  top: 16px;
  left: 16px;
}


a {
  text-decoration: none;
}

.homepage {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-image: url('./assets/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.homepage-menu {
  display: flex;
  flex-direction: column;
}

.homepage-header {
  width: 100%;
  height: 20%;
}

.homepage-title {
  margin-top: 0px;
  padding-top: 30px;
  font-family: Roboto;
  letter-spacing: 8px;
}

.homepage-title-start {
  font-size: 48px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 2000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.homepage-title-end {
  font-size: 48px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 200;
  margin-top: -25px;
  position: relative;
  left: 60px;
  text-align: center;
}

.homepage-subtitle-start {
  font-size: 16px;
  margin-left: auto;
  text-align: center;
  position: relative;
  left: 25px;
  font-family: Roboto;
}

.homepage-subtitle-end {
  font-size: 16px;
  margin-left: auto;
  text-align: center;
  margin-top: -15px;
  position: relative;
  left: 25px;
  font-family: Roboto;
}

.scoreboard-container {
  display: flex;
  flex-direction: row;
}

.gameboard-canvas-container {
  height: 25px;
}

.homepage-game {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 120px;
  margin-right: 50px;
  overflow: hidden;
}

.gameboard-canvas {
  background-color: #E1F9E6;
  position: relative;
  border: 3px solid #019D9B;
}

.new-game-button {
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #3EC598;
  border-radius: 10px;
  font-size: 20px;
  width: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFFFFF;
  font-weight: 400;
  font-family: Roboto;
  outline: none;
  margin-top: 40%;
}

.new-game-button:hover {
  color: #EFEFEF;
  background-color: #000000;
  border: none;
}

.score-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  font-family: Roboto;
}

.score-label {
  display: block;
  font-size: 32px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 1px;
}

.score-value {
  display: block;
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
  letter-spacing: 2px;
}

.action-canvas {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.timer {
  text-align: center;
  margin-top: 50%;
}

.timer-value {
  font-size: 50px;
  font-weight: 1000;
  font-family: Roboto;
  letter-spacing: 3px;
}

.timer-label {
  font-size: 32px;
  margin-top: -10px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 1px;
}

.homepage-submenu {
  display: flex;
  flex-direction: row;
}

.achievements-container {
  margin-left: 5%;
  margin-right: 120px;
  margin-top: 10%;
  border-radius: 50px;
  border: 2px solid #019D9B;
  overflow: hidden;
  width: 350px;
}

.achievements-title {
  text-align: center;
  background-color: #FFFFFF;
  font-size: 22px;
  font-family: Roboto;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.achievements-tabs {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 40px;
}

.achievements-tab {
  text-align: center;
  width: 50%;
  border: none;
  font-size: 22px;
  outline: none;
  background-color: #86CAC8;
  color: #FFFFFF;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-weight: 400;
  z-index: 2;
}

.achievements-tab:hover {
  color: #8f8f8fa4;
  background-color: #000000;
}

.achievements {
  background-color: #86CAC8;
  display: flex;
  flex-direction: column;
  height: 460px;
}

.achievements-table {
  display: flex;
}

.achievements-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.achievement-container {
  display: flex;
  flex-direction: row;
  width: 120px;
  margin: auto;
}

.achievement-container.carbon-bomb {
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.achievement-image-container {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin: auto;

}

.achievement-image-container img {
  width: 60px;
  height: 65px;
  position: relative;
  left: 30px;
  top: -30px;
}

.achievement-label {
  font-size: 12px;
  visibility: hidden;
  width: 120px;
  position: relative;
  height: 32px;
  top: -20px;
}

.achievement-container:hover .achievement-label span {
  position: relative;
  text-align: center;
  z-index: 3;
  visibility: visible;
  color: #000000;
  background-color: #C3EAEA;
  width: 100px;
  top: 45px;
  cursor: pointer;
}

.achievement-value {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  position: relative;
  top: -25px;
  text-align: center;
}

.scoreboard-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .homepage-game {
    margin-left: 60px;
  }

  .achievements-container {
    margin-right: 60px;
  }
}

@media (max-width: 1500px) {
  .homepage-game {
    margin-left: 25px;
  }



  .achievements-container {
    margin-right: 25px;
  }
}

@media (max-width: 1450px) {
  .timer-label {
    font-size: 22px;
  }

  .timer-value {
    font-size: 40px;
  }

  .score-label {
    font-size: 22px;
  }

  .score-value {
    font-size: 40px;
  }

  .new-game-button {
    width: 100px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .homepage-game {
    margin-left: 50px;
  }

  .achievements-container {
    margin-right: 50px;
  }
}

@media (max-width: 1360px) {
  .homepage-game {
    margin-left: 10px;
  }

  .achievements-container {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
  }

  .achievement-label {
    height:
  }

  .homepage-header {
    height: 0;
  }

  .homepage-title {
    display: none;
  }

  .homepage-subtitle {
    display: none;
  }

  .homepage-menu {
    margin-right: auto;
    margin-left: auto;
  }

  .homepage-submenu {
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
  }

  .scoreboard-container {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .timer {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .score-container {
    margin-top: 20px;
  }

  .new-game-button {
    margin-top: 20px;
    margin-bottom: auto;
  }
}


@media (max-width: 1300px) {
  .achievements-container {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
  }

  .homepage-game {
    margin-right: 10px;
    margin-left: auto;
  }
}

@media (max-width: 1160px) {
  .achievements-container {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }

  .achievements-title {
    font-size: 14px;
  }

  .achievements-tabs {
    height: 30px;
  }

  .achievements-tab {
    font-size: 14px;
  }

  .achievement-container {
    width: 100px;
    height: 100px;
  }

  .achievement-image-container img {
    width: 35px;
    height: 40px;
  }

  .achievement-value {
    font-size: 12px;
    right: 5px;
  }
}

@media (min-height: 800px) and (max-width: 1360px) {
  .achievements {
    height: 440px;
  }

  .achievement-image-container img {
    width: 55px;
    height: 60px;
    left: 35px;
  }

  .achievements-container {
    margin-top: 7%;
  }

  .scoreboard-container {
    margin-top: 5px;
  }

  .new-game-button,
  .score-container,
  .timer {
    margin-top: 10px;
  }

  .score-label,
  .timer-label {
    font-size: 18px;
  }

  .score-value,
  .timer-value {
    font-size: 36px;
  }
}

@media (max-height: 800px) and (max-width: 1360px) {
  .achievements {
    height: 380px;
  }

  .achievement-image-container img {
    width: 45px;
    height: 50px;
    left: 27.5px;
  }

  .achievement-value {
    font-size: 14px;
  }

  .achievements-container {
    margin-top: 7%;
  }

  .scoreboard-container {
    margin-top: 5px;
  }

  .new-game-button,
  .score-container,
  .timer {
    margin-top: 10px;
  }

  .score-label,
  .timer-label {
    font-size: 18px;
  }

  .score-value,
  .timer-value {
    font-size: 36px;
  }

  .achievement-label {
    top: -25px;
    width: 100px;
  }
}

@media (max-height: 750px) and (max-width: 1360px) {
  .new-game-button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
}

@media (max-height: 800px) and (min-width: 1360px) {
  .achievements {
    height: 420px;
  }

  .achievement-image-container img {
    width: 50px;
    height: 55px;
  }

  .achievement-value {
    font-size: 14px
  }

  .scoreboard-container {
    margin-top: 40px;
  }
}

@media (max-height: 750px) and (min-width: 1360px) {
  .achievements {
    height: 385px;
  }

  .achievement-image-container img {
    width: 45px;
    height: 50px;
    left: 35px;
  }

  .achievement-value {
    font-size: 12px;
  }

  .scoreboard-container {
    margin-top: 40px;
  }
}
